<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div class="container"> 
      <div id="page_container">
        <div class="row logo_color">
          <div class="navbar">
            <div class="onecol last">
              <div class="logo">
                <%= link_to(image_tag('tsa_logo.png'), "/") %>
              </div>
            </div>
            <div class="twocol last">
              <div class="logo">
                <div class="title">
                  <%= link_to 'CMU TSA', "/" %>
                </div>
              </div>
            </div>
            <div class="ninecol last">
              <header id="header">
                <%= render(:partial => "/refinery/menu", :locals => {
                   :dom_id => 'menu',
                   :css => 'menu'
                 }) %>
              </header>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div id="page_container">
        <section id="page">
          <% if request.fullpath.to_s.include?("//blog") || request.fullpath == "/" %>
            <div id="fullwidth">
              <ul id="fullwidth_slider" class="jcarousel-skin-pika">
                <% image_slider.each do |image| %>
                  <li>
                    <%= image_fu image.photo, '1920x400#' %>
                    <span><%= raw image.caption %></span>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="container"> 
            <div class="row">
              <div class="twelvecol last">
                <%= yield %>
              </div>
            </div>
          </div>
        </section>
        <div class="container"> 
          <div class="row">
            <div class="twelvecol last">
              <footer>
                <%= render '/refinery/footer' -%>
              </footer>
            </div>
          </div>
        </div>
      </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
